@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    margin-left: 2rem;
}

.list {
    display: none;
}
.page-links {
    display: flex;
    list-style: none;
}

.page-link a{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: #0055d4;
    font-size: 1.1rem;
}
.btn{
    padding: .5rem 1rem;
    margin: 0 .5rem ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-log{
    border: 2px solid rgb(34, 255, 0);
}
.btn:hover{
    opacity: .7;
}
.registr{
    margin-right: 5rem;
}

#btn-sign{
    background-color: rgb(0, 115, 255);
    color: white;
}

.main-header{
    height: 60vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.content p {
    margin: 1.5rem;
    line-height: 2.5rem;
}

.image {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 3rem;
}

.image img {
    width: 100%;
}

.image i {
    position: absolute;
    color: rgb(0, 85, 255);
}
.image i:hover{
    cursor: pointer;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.table h1 {
    text-align: center;
    font-size: 2.5rem;
}

.column {
    float: left;
    width: 33%;
    text-align: start;
    justify-content: center;
    margin: rem 3rem;
    padding: 2rem 4rem;
    position: relative;
}

.row {
    margin-left: 5rem;
    margin-top: 3rem;
    clear: left;
    height: 60vh;
}

.column img {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.founder-box {
    clear: left;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 2.5rem;
}

.founder-box .ceo {
    float: left;
}

.ceo img {
    width: 100%
}

.quote {
    margin-left: 2rem;
}

.quote h5 {
    margin-top: 1rem;
    font-size: 1rem;
}

.quote p {
    font-size: .8rem;
}

.quote img{
    width: 4rem;
}

.jobs h1{
    text-align: center;
    font-size: 2.5rem;
}

.jobs {
    margin-top: 4rem;
}

.job {
    border: 3px solid rgba(0, 0, 0, 0.1);;
    border-radius: 10px;
    height: 224px;
    background: #FCFCFC;
    margin-top: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.job .left {
    flex-direction: column;
}

.job h3, .job p {
    padding-left: 2rem;
}

.job .fa-3x {
    color: rgb(0, 102, 255);
    margin-right: 8rem;

}
.view-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-top: 2rem;
}

.btn-end {
    padding: 10px 15px;
    color: white;
    background-color: #1A6AE2;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #496693;
    height: 400px;
    margin-top: 2rem;
}

.footer{
    display: flex;
    
}

.media-text {
    display: flex;
}

ul {
    list-style: none;
}

.about, .portfolio, .consultancy, .contact {
    margin-left: 6rem;
    margin-top: 7rem;
    color: white;

}


#media {
    display: flex;
}

.media {
    margin-left: 5rem;
    margin-top: 7rem;
}

.fa-brands {
    margin-left: 1rem;
}

.page-link a:hover{
    color: orangered;
}



@media(max-width:992px){

    .column{
        width: 50%;
    }

    .pages {
        display: none;
    }

    .about, .portfolio, .consultancy, .contact {
        margin-left: 5rem;
        margin-top: 7rem;
        color: white;
    
    }

    .footer {
        flex-direction: column;
    }

    .media {
        margin-left: 20rem;
        margin-top: 2rem;
    }
    .column img {
        display: none;
    }

    .job .fa-3x {
        color: rgb(0, 102, 255);
        margin-right: 6rem; 
    }
}



@media(max-width:768px){

    .column{
        width: 100%;
        text-align: center;
    }

    .registr{
        display: none;
    }

    .list {
        display: block;
        margin-right: 3rem;
    }

    .main-header{
        height: 35vh;
    }

    .content {
    height: 100%;
}

    .content h1{
        font-size: 1.5rem;
    }

    .content p {
        font-size: .9rem;
        color: black;
        line-height: 1.5rem;
    }
    
    .column {
        justify-content: center;
        padding: 2rem 2rem;
    }

    .row {
        margin-left: 0;
    }

    .founder-box {
        flex-direction: column;
    }

    .about, .portfolio, .consultancy, .contact {
        margin-left: .5rem;
        margin-top: 3rem;
        color: white;
        font-size: .75rem;
    
    }

    .media {
        margin-left: 3.5rem;
        margin-top: 1.5rem;
    }

    .column img {
        display: none;
    }

    .job .fa-3x {
        color: rgb(0, 102, 255);
        margin-right: 3rem;
    
    }

    .table h1{
        font-size: 2rem;
    }

    .quote {
        margin-left: .5rem;
    }

    footer {
        background-color: #496693;
        height: 250px;
    }
    
    .footer{
        display: flex;
        margin-left: 2rem;
        
    }

}



